/* Style the body with the following:
Default text is Verdana font with Arial as a fallback option
There is a 25px margin on the top and sides. None on the bottom. */
body{
    font-family: "Verdana", "Arial";
	margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}


/*Style the level 1 headings with the following:
Text is 48px
Text is blue
There is 15px padding on all sides*/
h1{
    font-size: 48px;
    color: blue;
    padding: 15px;
}


/* Style the level 2 headings with the following:
Text is 32px */
h2{
    font-size: 32px;
}


/* Style the paragraphs with the following:
Text is 24px
There is 15px padding on the bottom and left only */
p{
    font-size: 24px;
    padding-left: 15px;
    padding-bottom: 15px;
}


/*Style the images with the following:
All images are 350px wide (do not set a height)
All images should have a black 10px dashed border*/
img{
	width: 350px;
    border: 10px dashed black;
}


/* All divs must:
Be at least 100px tall (but will automatically be taller if needed)
Have 20px padding on all sides
Have a 3px solid white border on all sides. */
div{
    min-width: 100px;
    padding: 20px;
    border: 3px solid white;
}


/* Style the red div with the following:
Background color is a hex value for any light red
Text is aligned on the right side
A left margin of 50px
A border of 3px on the bottom and 10px on the left; */
.red{
    background-color: #f08080;
    text-align: right;
    margin-left: 50px;
    border-bottom: 3px solid white;
    border-left: 10px solid white;
}


/* Style the blue div with the following:
Background color is a hex value for any light blue
Text is aligned on the left side
A right margin of 50px
A  border of 10px on the right and 3px on the bottom; */
.blue{
    background-color: #add8e6;
    text-align: left;
    margin-right: 50px;
    border-right: 10px solid white;
    border-bottom: 3px solid white;
}


/* All span elements should:
Be underlined
Be all uppercase */
span{
    text-decoration: underline;
    text-transform: uppercase;
}


/* The footer should:
Use a gradient background (Links to an external site.) that starts at #000000, goes to #0000ff at 25,  #0066ff at 70, and ends back at #000000. */
footer{
    background: linear-gradient(90deg, #000000, #0000ff 25%, #0066ff 70%, #000000);
}